sofi/server-plane/n8n/workflows/10-whatsapp-inbound.json
{
  "name": "10 · WhatsApp Inbound → SOFI Gateway",
  "nodes": [
    {
      "parameters": {
        "sessionId": "db82d229-133b-41eb-b90d-1d7a2ad0e83f",
        "events": ["message.received"],
        "webhookSecret": "={{ $env.OPENWA_WEBHOOK_SECRET }}"
      },
      "id": "trigger",
      "name": "OpenWA Trigger",
      "type": "@rmyndharis/n8n-nodes-openwa.openWaTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "openWaApi": { "id": "", "name": "OpenWA API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Only real inbound text, and only from the owner number.\nconst d = $input.first().json.data || {};\nif (!d.body || d.type && d.type !== 'text') return [];\n\nconst owner = ($env.SOFI_OWNER_CHAT || '').trim();\nif (owner && d.from !== owner) return [];\n\nreturn [{ json: {\n  chatId: d.chatId || d.from,\n  text: (d.body || '').trim(),\n  messageId: d.id || ''\n} }];"
      },
      "id": "filter",
      "name": "Filter & Authorize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text;\nconst [w0, ...rest] = text.split(/\\s+/);\nconst kw = w0.toLowerCase();\nconst arg = rest.join(' ').trim();\n\nconst project = 'PRJ-SAKK';\nlet role = 'sofi-ceo';\nlet command = text;\nlet model = 'haiku';\n\nconst map = {\n  audit:   ['sofi-qa-sre-lead', `Run an audit pass on ${project} (${arg || 'all layers'}). Report findings ranked by severity.`],\n  fix:     ['sofi-ceo', `Fix in ${project}: ${arg}. Route to the cheapest specialist, checkpoint each change.`],\n  report:  ['sofi-ceo', `Produce a ${arg || 'status'} report for ${project}.`],\n  feature: ['sofi-ceo', `Run the full feature loop on ${project}: ${arg}`],\n  gate:    ['sofi-ceo', `Report the current gate + blockers for ${project}.`],\n  status:  ['sofi-ceo', `Give a short status of ${project}: gate, last work, open tickets.`],\n  sync:    ['sofi-ceo', `sofi sync ${project} and summarize what changed.`]\n};\n\nif (map[kw]) { [role, command] = map[kw]; }\nif (kw === 'feature' || kw === 'fix') { model = 'sonnet'; }\n\nconst base = $env.SOFI_CALLBACK_BASE || 'http://127.0.0.1:5678';\nreturn [{ json: {\n  role, project, command, model,\n  mode: 'async',\n  source: 'whatsapp',\n  callback_url: `${base}/webhook/sofi-callback`,\n  meta: { chatId: $json.chatId }\n} }];"
      },
      "id": "route",
      "name": "Route to RCCF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8099/dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-SOFI-Token", "value": "={{ $env.SOFI_GATEWAY_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      },
      "id": "dispatch",
      "name": "SOFI Gateway /dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "sessionId": "db82d229-133b-41eb-b90d-1d7a2ad0e83f",
        "chatId": "={{ $('Route to RCCF').first().json.meta.chatId }}",
        "text": "⏳ استلمت طلبك، جارٍ التنفيذ… سأرسل النتيجة عند الانتهاء."
      },
      "id": "ack",
      "name": "OpenWA: Ack",
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "openWaApi": { "id": "", "name": "OpenWA API" }
      }
    }
  ],
  "connections": {
    "OpenWA Trigger": { "main": [[{ "node": "Filter & Authorize", "type": "main", "index": 0 }]] },
    "Filter & Authorize": { "main": [[{ "node": "Route to RCCF", "type": "main", "index": 0 }]] },
    "Route to RCCF": { "main": [[{ "node": "SOFI Gateway /dispatch", "type": "main", "index": 0 }]] },
    "SOFI Gateway /dispatch": { "main": [[{ "node": "OpenWA: Ack", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
