sofi/server-plane/n8n/workflows/11-sofi-callback.json
{
  "name": "11 · SOFI Callback → WhatsApp Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sofi-callback",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "cb-in",
      "name": "Gateway Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sofi-callback"
    },
    {
      "parameters": {
        "jsCode": "const hdr = $input.first().json.headers?.['x-sofi-token'] || '';\nif ($env.SOFI_GATEWAY_TOKEN && hdr && hdr !== $env.SOFI_GATEWAY_TOKEN) return [];\nconst b = $input.first().json.body || {};\nconst meta = b.meta || {};\nlet text;\nif (b.status === 'done') {\n  text = (b.response || 'تم التنفيذ.').toString().slice(0, 3500);\n} else {\n  text = '⚠️ تعذّر التنفيذ: ' + (b.error || 'خطأ غير معروف');\n}\nif (!meta.chatId) return [];\nreturn [{ json: { chatId: meta.chatId, text } }];"
      },
      "id": "shape",
      "name": "Shape Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "sessionId": "db82d229-133b-41eb-b90d-1d7a2ad0e83f",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}"
      },
      "id": "send",
      "name": "OpenWA: Send Result",
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openWaApi": { "id": "", "name": "OpenWA API" }
      }
    }
  ],
  "connections": {
    "Gateway Callback": { "main": [[{ "node": "Shape Reply", "type": "main", "index": 0 }]] },
    "Shape Reply": { "main": [[{ "node": "OpenWA: Send Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
