sofi/server-plane/n8n/workflows/11-sofi-callback.json
{
  "active": true,
  "connections": {
    "Gateway Callback": {
      "main": [
        [
          {
            "index": 0,
            "node": "Shape Reply",
            "type": "main"
          }
        ]
      ]
    },
    "Shape Reply": {
      "main": [
        [
          {
            "index": 0,
            "node": "OpenWA: Send Result",
            "type": "main"
          }
        ]
      ]
    }
  },
  "meta": null,
  "name": "11 · SOFI Callback → WhatsApp Reply",
  "nodes": [
    {
      "id": "cb-in",
      "name": "Gateway Callback",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "sofi-callback"
      },
      "position": [
        240,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sofi-callback"
    },
    {
      "id": "shape",
      "name": "Shape Reply",
      "parameters": {
        "jsCode": "const hdr = $input.first().json.headers?.['x-sofi-token'] || '';\nif ($env.SOFI_GATEWAY_TOKEN && hdr !== $env.SOFI_GATEWAY_TOKEN) return [];  // fail-closed: missing header is rejected\nconst b = $input.first().json.body || {};\nconst meta = b.meta || {};\nlet text;\nif (b.status === 'done') {\n  text = (b.response || 'تم التنفيذ.').toString().slice(0, 3500);\n} else {\n  text = '⚠️ تعذّر التنفيذ: ' + (b.error || 'خطأ غير معروف');\n}\nif (!meta.chatId) return [];\nreturn [{ json: { chatId: meta.chatId, text } }];"
      },
      "position": [
        464,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openWaApi": {
          "id": "vZ5cLjILYhlrFNVp",
          "name": "OpenWA API"
        }
      },
      "id": "send",
      "name": "OpenWA: Send Result",
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "message": "={{ $json.text }}",
        "sessionId": "5b59d3b0-fbcf-4cd6-a8df-2202fc919544"
      },
      "position": [
        688,
        304
      ],
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": true,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
