sofi/server-plane/n8n/workflows/20-feature-command.json
{
  "active": true,
  "connections": {
    "Action?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Feature",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Get Feature (adv)",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Cancel Feature",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Get Feature (status)",
            "type": "main"
          }
        ]
      ]
    },
    "Auth & Parse": {
      "main": [
        [
          {
            "index": 0,
            "node": "Action?",
            "type": "main"
          }
        ]
      ]
    },
    "Build Gate Payload": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gateway Dispatch",
            "type": "main"
          }
        ]
      ]
    },
    "Cancel Feature": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cancel Msg",
            "type": "main"
          }
        ]
      ]
    },
    "Create Feature": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prep (start)",
            "type": "main"
          }
        ]
      ]
    },
    "Feature In": {
      "main": [
        [
          {
            "index": 0,
            "node": "Auth & Parse",
            "type": "main"
          }
        ]
      ]
    },
    "Gateway Dispatch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Mark Running",
            "type": "main"
          }
        ]
      ]
    },
    "Get Feature (adv)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prep (advance)",
            "type": "main"
          }
        ]
      ]
    },
    "Get Feature (status)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Msg Build",
            "type": "main"
          }
        ]
      ]
    },
    "Mark Running": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ack Feature",
            "type": "main"
          }
        ]
      ]
    },
    "Prep (advance)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Gate Payload",
            "type": "main"
          }
        ]
      ]
    },
    "Prep (start)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Gate Payload",
            "type": "main"
          }
        ]
      ]
    },
    "Status Msg Build": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Msg",
            "type": "main"
          }
        ]
      ]
    }
  },
  "meta": null,
  "name": "20 · Feature Command (start·advance·cancel·status)",
  "nodes": [
    {
      "id": "in",
      "name": "Feature In",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "sofi-feature"
      },
      "position": [
        224,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sofi-feature"
    },
    {
      "id": "auth",
      "name": "Auth & Parse",
      "parameters": {
        "jsCode": "const tok=$env.SOFI_GATEWAY_TOKEN;\nconst hdr=$input.first().json.headers?.['x-sofi-token']||'';\nif(hdr!==tok) return [];\nconst b=$input.first().json.body||{};\nreturn [{ json: { action:(b.action||'').trim(), featureId:(b.featureId!=null?String(b.featureId):''), chatId:(b.chatId||'').trim(), text:(b.text||'').trim() } }];"
      },
      "position": [
        432,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "sw",
      "name": "Action?",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a5525c53-10ce-4db9-8118-fd27cef8513d",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "start"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "94b9e662-2a29-4ef1-999a-0989517c5fea",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "advance"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d8a0981d-520d-4aff-9b97-59fc1fc7ca44",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "cancel"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ef6398f7-8e7d-4e4a-af86-0dba52d3b10a",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "status"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            }
          ]
        }
      },
      "position": [
        624,
        400
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3
    },
    {
      "id": "ins",
      "name": "Create Feature",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "title",
              "id": "title",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "gate",
              "id": "gate",
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "chat_id",
              "id": "chat_id",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "last_output",
              "id": "last_output",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "job_id",
              "id": "job_id",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "chat_id": "={{ $json.chatId }}",
            "gate": 0,
            "job_id": "",
            "last_output": "",
            "status": "running",
            "title": "={{ $json.text }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "W1t0OqToRVJ0E2oo"
        },
        "options": {}
      },
      "position": [
        864,
        224
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "prepS",
      "name": "Prep (start)",
      "parameters": {
        "jsCode": "const r=$input.first().json; const src=$('Auth & Parse').first().json;\nreturn [{ json: { featureId:String(r.id), gate:0, title:src.text, chatId:src.chatId, last_output:'' } }];"
      },
      "position": [
        1072,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "getA",
      "name": "Get Feature (adv)",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "W1t0OqToRVJ0E2oo"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ Number($json.featureId) }}"
            }
          ]
        },
        "limit": 1,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        864,
        400
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "prepA",
      "name": "Prep (advance)",
      "parameters": {
        "jsCode": "const r=$input.first().json; if(!r||r.id==null) return [];\nreturn [{ json: { featureId:String(r.id), gate:Number(r.gate)||0, title:r.title, chatId:r.chat_id, last_output:r.last_output||'' } }];"
      },
      "position": [
        1072,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "build",
      "name": "Build Gate Payload",
      "parameters": {
        "jsCode": "const GATES = [\n  {n:0,name:'Inception',role:'chief-product-strategist',approve:false},\n  {n:1,name:'Discovery',role:'ux-researcher',approve:false},\n  {n:2,name:'Design',role:'ui-ux-designer',approve:false},\n  {n:3,name:'Architecture',role:'principal-system-architect',approve:true},\n  {n:4,name:'Build',role:'tier-2-advisor',approve:true},\n  {n:5,name:'Quality',role:'qa-sre-lead',approve:false},\n  {n:6,name:'Staging',role:'devops-cloud-lead',approve:true},\n  {n:7,name:'Prod',role:'devops-cloud-lead',approve:true},\n  {n:8,name:'Observe',role:'observability-sre',approve:false},\n];\nconst d=$input.first().json; const g=GATES[d.gate]||GATES[0];\nconst base='http://127.0.0.1:5678';\nconst command = `SOFI feature lifecycle — Gate ${g.n} (${g.name}) for feature #${d.featureId}: \"${d.title}\".\\n\\n`\n  + `Previous gate output:\\n${d.last_output || '(none — first gate)'}\\n\\n`\n  + `Do Gate ${g.n} (${g.name}) work per SOFI doctrine for THIS feature only. Produce the gate deliverable, `\n  + `check the gate bar, and finish with a short WhatsApp-readable Arabic summary (<=1000 chars) of what you `\n  + `produced and whether the gate bar is met — plain lines, no markdown tables or file trees.`;\nreturn [{ json: { role:g.role, project:'PRJ-SAKK', model:'sonnet', mode:'async', source:'whatsapp-feature',\n  command, callback_url:`${base}/webhook/sofi-feature-cb`, meta:{ featureId:d.featureId, gate:g.n, chatId:d.chatId },\n  _gateName:g.name, _featureId:d.featureId, _gate:g.n, _chatId:d.chatId } }];"
      },
      "position": [
        1280,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "disp",
      "name": "Gateway Dispatch",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-SOFI-Token",
              "value": "={{ $env.SOFI_GATEWAY_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({role:$json.role,project:$json.project,model:$json.model,mode:$json.mode,source:$json.source,command:$json.command,callback_url:$json.callback_url,meta:$json.meta}) }}",
        "method": "POST",
        "options": {
          "timeout": 15000
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://127.0.0.1:8099/dispatch"
      },
      "position": [
        1504,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "mark",
      "name": "Mark Running",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "title",
              "id": "title",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "gate",
              "id": "gate",
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "chat_id",
              "id": "chat_id",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "last_output",
              "id": "last_output",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "job_id",
              "id": "job_id",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "job_id": "={{ $json.job_id || '' }}",
            "status": "running"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "W1t0OqToRVJ0E2oo"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ Number($('Build Gate Payload').first().json._featureId) }}"
            }
          ]
        },
        "matchType": "allConditions",
        "operation": "update",
        "options": {}
      },
      "position": [
        1728,
        304
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "openWaApi": {
          "id": "vZ5cLjILYhlrFNVp",
          "name": "OpenWA API"
        }
      },
      "id": "ackF",
      "name": "Ack Feature",
      "parameters": {
        "chatId": "={{ $('Build Gate Payload').first().json._chatId }}",
        "message": "={{ '🚀 الميزة #' + $('Build Gate Payload').first().json._featureId + ' — البوابة ' + $('Build Gate Payload').first().json._gate + ' (' + $('Build Gate Payload').first().json._gateName + ') قيد العمل… سأرسل الملخّص عند الانتهاء.' }}",
        "sessionId": "5b59d3b0-fbcf-4cd6-a8df-2202fc919544"
      },
      "position": [
        1952,
        304
      ],
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1
    },
    {
      "id": "cxl",
      "name": "Cancel Feature",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "title",
              "id": "title",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "gate",
              "id": "gate",
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "chat_id",
              "id": "chat_id",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "last_output",
              "id": "last_output",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "job_id",
              "id": "job_id",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "status": "cancelled"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "W1t0OqToRVJ0E2oo"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ Number($json.featureId) }}"
            }
          ]
        },
        "matchType": "allConditions",
        "operation": "update",
        "options": {}
      },
      "position": [
        864,
        592
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "openWaApi": {
          "id": "vZ5cLjILYhlrFNVp",
          "name": "OpenWA API"
        }
      },
      "id": "cxlMsg",
      "name": "Cancel Msg",
      "parameters": {
        "chatId": "={{ $('Auth & Parse').first().json.chatId }}",
        "message": "={{ '🛑 أُلغيت الميزة #' + $('Auth & Parse').first().json.featureId }}",
        "sessionId": "5b59d3b0-fbcf-4cd6-a8df-2202fc919544"
      },
      "position": [
        1072,
        592
      ],
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1
    },
    {
      "id": "getS",
      "name": "Get Feature (status)",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "W1t0OqToRVJ0E2oo"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ Number($json.featureId) }}"
            }
          ]
        },
        "limit": 1,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        864,
        768
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "id": "stCode",
      "name": "Status Msg Build",
      "parameters": {
        "jsCode": "const GATES = [\n  {n:0,name:'Inception',role:'chief-product-strategist',approve:false},\n  {n:1,name:'Discovery',role:'ux-researcher',approve:false},\n  {n:2,name:'Design',role:'ui-ux-designer',approve:false},\n  {n:3,name:'Architecture',role:'principal-system-architect',approve:true},\n  {n:4,name:'Build',role:'tier-2-advisor',approve:true},\n  {n:5,name:'Quality',role:'qa-sre-lead',approve:false},\n  {n:6,name:'Staging',role:'devops-cloud-lead',approve:true},\n  {n:7,name:'Prod',role:'devops-cloud-lead',approve:true},\n  {n:8,name:'Observe',role:'observability-sre',approve:false},\n];\nconst r=$input.first().json; if(!r||r.id==null) return [{json:{chatId:$('Auth & Parse').first().json.chatId,msg:'لا توجد ميزة بهذا الرقم.'}}];\nconst g=GATES[Number(r.gate)]||GATES[0];\nconst msg = `🧭 الميزة #${r.id}: \"${r.title}\"\\nالبوابة: ${g.n} (${g.name})\\nالحالة: ${r.status}\\n\\n${(r.last_output||'').slice(0,600)}`;\nreturn [{ json: { chatId:r.chat_id, msg } }];"
      },
      "position": [
        1072,
        768
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openWaApi": {
          "id": "vZ5cLjILYhlrFNVp",
          "name": "OpenWA API"
        }
      },
      "id": "stMsg",
      "name": "Status Msg",
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "message": "={{ $json.msg }}",
        "sessionId": "5b59d3b0-fbcf-4cd6-a8df-2202fc919544"
      },
      "position": [
        1280,
        768
      ],
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}